@model MovieApp.Models.Movie
<link href="~/Content/StyleStars.css" rel="stylesheet" />

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

@*Average star sections*@
<div>
    <span class="starFadeN" id="sRate1"></span>
    <span class="starFadeN" id="sRate2"></span>
    <span class="starFadeN" id="sRate3"></span>
    <span class="starFadeN" id="sRate4"></span>
    <span class="starFadeN" id="sRate5"></span>
</div>

@*Movie summary section*@
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.DateReleased).ToString("MMM-yyyy")
        </dd>
    </dl>
</div>



<div class="navbtn">
    <p style="text-align:right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

@*Loops through reviews for the selected movie*@
<div class="reviews">
    @Html.Partial("_reviewPage")
</div>

@*Submit section*@
<div class="reviewSubmit">
    @Html.Partial("_reviewBox")
</div>


<div class="navbtn">
    <p style="text-align:right">
        <a href="#top" >To the Top </a> |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>




<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $(document).ready(main());

    function main() {
        @*Scroll to the top animation*@
        $("a[href='#top']").click(function(){
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        });

        StarChange();
    };

    @*Changes the stars to the glow with the rating value*@
    function StarChange() {
        for (var i =1; i<=@Model.RatingAVG; i++){
            $("#sRate"+i).attr('class', 'starGlowN');
        }
    }
</script>