@model IEnumerable<MovieApp.Models.Movie>
<link href="/Content/Index.css" rel="stylesheet" type="text/css" />
<link href="~/Content/StyleStars.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    @*Title box*@
    <div class="container">
        <div class="row">
            <div id="Title">
                <h1>MovieDatabase</h1>
            </div>
        </div>
    </div>


    <div class="topBar container">
        <div class="row">
            <div class="searchBox">
                @using (Html.BeginForm())
                {
                    <p> Title: @Html.TextBox("SearchString") <br /> </p>
                    <input type="submit" value="Filter" />
                    
                }
            </div>
        </div>
    </div>


    @*Counter that names the review div and button to later hide*@
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <div class="movieRow container">
            <div class="row">
                @*Movie information*@
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="movieInfo">
                        <h5>
                            <strong>@Html.DisplayNameFor(model => model.Title): </strong>
                            @Html.DisplayFor(model => item.Title)
                        </h5>

                        <h5>
                            <strong>@Html.DisplayNameFor(model => model.Director): </strong>
                            @Html.DisplayFor(model => item.Director)
                        </h5>

                        <h5>
                            <span style="vertical-align:middle;"> <strong> Rating: </strong> </span>
                            @for (var n = 1; n <= item.RatingAVG; n++)
                            {
                                <span class="starGlowN" style="vertical-align:middle;"></span>
                            }
                            @for (var n = (item.RatingAVG + 1); n <= 5; n++)
                            {
                                <span class="starFadeN" style="vertical-align:middle;"></span>
                            }
                        </h5>
                    </div>
                </div>

                @*button section*@
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="movieNav">
                            <p>
                                @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                                @*Keeping in the database to later enable admin users to edit/delete and hide from users*@
                                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="reviewbtn">
                            <input type="button" id="@(i)" class="showHideBtn btn btn-default" value="Show Reviews" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews" id="@("rev"+i)">

            @*if statement incase no reviews*@
            @if (item.Reviews.Count == 0) {

                <div class="container">
                    <div class="row" style="text-align:center"> 
                        <h5> Be the first to write a review for this movie!! </h5>
                        <h5>@Html.ActionLink("Add Review", "Details", new { id = item.MovieID })</h5>
                    </div>
                </div>

            } else {

            <h5>@Html.ActionLink("Add Review", "Details", new { id = item.MovieID })</h5>
            <table class="table">
                <tr>
                    <th>
                        <h4>Comments</h4>
                    </th>
                    <th>
                        <h4>Rating</h4>
                    </th>
                    <th>
                        <h4>Date Rated</h4>
                    </th>
                </tr>

                @foreach (var review in item.Reviews) {

                    <tr>
                        <td width="40%">
                            <h5>
                                @Html.DisplayFor(modelItem => review.Comment)
                            </h5>
                        </td>

                        <td width="35%">
                            <h5>
                                @for (var n = 1; n <= review.rating; n++)
                                {
                                    <span class="starGlowN"></span>
                                }
                                @for (var n = (review.rating + 1); n <= 5; n++)
                                {
                                    <span class="starFadeN"></span>
                                }
                            </h5>
                        </td>

                        <td width="25%">
                            <h5>
                                @Convert.ToDateTime(review.DateReviewed).ToString("dd-MMM-yyyy")
                            </h5>
                        </td>
                    </tr>
                }

            </table>
            }
        </div>
    <div class="MovieBorder"></div>
    i++;
    }

    @*Set up div structure to take boostrap colums if more nav is needed*@
    <div class="container">
        <div class="row">
           <div class="bottomNav">
                <a href="#top">To the Top </a> |
                @Html.ActionLink("Create New", "Create")
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $(document).ready(main());

    function main() {
        @*top scroll animation*@
        $("a[href='#top']").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });

        @*Initial hides reviews *@
        $('.reviews').hide();

        @*Does the Show/Hide button and changes the text on the button*@
        $('.showHideBtn').click(function () {
            $("#rev" + (this.id)).toggle();

            if (this.value == 'Show Reviews') {
                this.value = 'Hide Reviews';
            } else {
                this.value = 'Show Reviews';
            }
        });

    };
</script>